*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

/*************************************
 Header 
****************************************/
header {background: #D8F401;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    
}

nav,nav ul {
    display: flex;
    list-style: none;
    padding: 5px 20px;
}

.main-header{
    padding: 8px 20px;
}

nav ul{
font-size: 17px;
min-width: 450px;
justify-content: space-between;
align-items: center;
}

.bg-section{
    height: 90vh;
    width: 100%;
    background: url('./assets/images/Hero.png');
}

.overlay{
    background: rgba(0, 0, 0, 0.377);
    width: 100%;
    height: 100%;   
}

.stripe-white{
    background: rgba(255, 255, 255, 0.466);
    height: 45px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 5px;
    padding-bottom: 20px;
}

.tag-wrapper{
    padding-bottom: 10px;
    display: flex;
    overflow-x: scroll;
    overflow-y: none;
    flex-direction: row;
    width: 100%;
    box-sizing: content-box;
   
}

.tag-wrapper button{
    min-width:50px;
    margin-top: 5px;
    height: 30px;
    padding: 5px 10px;
    margin-left: 2%;
    border:none;
    background-color: #D8F401;
   
    border-radius: 5px;
}

.content-area{
    width: 100%;
    height:85vh;
    display: flex;
    justify-content: center;
}


.content-wrapper{
   
    width: 700px;
    height: 450px;
    margin-top:40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction:column;
}
a :hover:link{
    color:red;

}

#title1{
    font-size: 35px;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
}

#title2{
    letter-spacing:5px;
    font-weight: 500;
    margin-top: 40px;
    font-size: 55px;
    color: #D8F401;
}

.input-wrapper{
    width: 500px;
    height: 50px;
    background: #ffffffa1;
    margin:50px auto;
    padding: 0px;
    border-radius:10px;
}

.search-area{
    width: 90%;
    margin-left: -5px;
    border: none;
    background: none;
    color: black;
    outline: none;
    padding-left: 15px;
    font-size: 18px;
}

.input-wrapper button{
    height: 50px;
    width: 10%;
    margin: 0px;
    border: none;
    background: none;
    font-size: 18px;
}

.card-wrapper{
    height: max-content;
    position: relative;
    width: 98%;
    margin-left: 1%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 100px;
  
}
.card{
    height:280px;
    width: 30%;
    margin-top:3%;
    margin-left: 2.5%;
    border-radius: 5px;

    list-style: none;
    position: relative;
}

.fav-btn-wrapper{
    width: 100%;
    height: 45px;
    position: relative;
    text-align: right;
}

.fav-btn-wrapper button{
    position: relative !important;
   
    display: inline-block;
    padding: 5px 20px;
    font-size: 16px;
   
}


.fav-btn-remove{
    height: 50px !important;
    width: 140px !important;
    background: #fff !important;
    box-shadow: 1px 1px 1px black;
    font-size: 25px !important;
    

}

.fav-btn-download{
    font-size: 25px !important;
    box-shadow: 1px 1px 1px black;
    height: 50px !important;
    width: 140px !important;
    margin-left: 20px;
   
}
.card img{
    width: 100%;
    height: 100%;
}
.main{
    position: relative;
    margin-top: 100px;
    height: 200px;
    width: 100%;
   /* background: blue;*/
}


.more-btn{
background: #D8F42D;
padding: 10px 35px ;
border-radius: 15px;
margin: auto;
display: block;
border: none;
font-size: 20px;
outline: none;
}



.left-area{
    width: 70%;
    display: flex;
    align-items: center;
}

.left-area span{
    margin-left: 50px;
    font-size: 28px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.right-area{
    width: 100%;
}

.search-wrapper{
    margin-top: 20px;
    width: max-content;
    height: 30px;
    border-radius:15px;
    background: #fff;
    padding-left: 5px;
    border: 1px solid #646464;
    float: right;
}

.search-wrapper input{
    height: 100%;
    border-radius: 15px;
    outline: none;
    border: none;
}

.search-wrapper button{
    height: 100%;
    border-radius: 15px;
    border: none;
    width: 40px;
    outline: none;
    background: none;
}

footer{
    width: 98%;
    margin-left: 1%;
    height: 60px;
    border-top: 1px solid grey;
}

footer img{
    height: 40px;
    margin-bottom: 10px;
}


.card button{ position: absolute;
    top: 10px;
    right: 10px;
    width: 28px;
    height: 25px;
    padding: 5px;
    border: none;
    outline: none;
    background: #D8F42D;
}

.menu{
    display: none;
}

.close{
    display: none;
}

.popup-area{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.603);
    top: 0;
    left: 0;
    position: fixed;
   
}

.popup-wrapper{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.popup-wrapper ul{
    margin-right: 5%;
    height: max-content;
    width: 55%;
}

.popup-wrapper ul li{
    height: auto !important;
}


.download-section{
    background: gray;
    width:30%;

   text-align: center;
   padding: 5px;
}

.download-section span{
    font-family: sans-serif;
    display: inline-block;
    margin-bottom: 10px;
    color: #D8F42D;
    font-size: 22px;
    letter-spacing: 1px;
}

.download-section img{
    width: 95%;
}

.download-section button{
    background: #D8F42D;
    outline: none;
    border: none;
    width: 70%;
    height: 50px;
    font-size: 20px;
    margin-top: 5px;
    border-radius: 5px;
}


/*PREVIEW SECTION STARTED*/


.preview {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
  }
  
  .preview .preview-black-cover {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.221);
  }
  
  .preview .icon-cross {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 60px;
  }
  
  .preview .preview-main {
    top: 100px;
    left: 10%;
    width: 80%;
    position: absolute;
  }
  
  .preview .preview-main .preview-main-inner {
    display: flex;
    width: 100%;
  }
  
  .preview .preview-main .left-side {
    width: 60%;
  }
  
  .preview .preview-main .left-side img {
    width: 100%;
  }
  
  .preview .preview-main .left-side .left-image {
    position: relative;
    vertical-align: text-bottom;
  }
  
  .preview .preview-main .left-side .heart {
    position: absolute;
    width: 8%;
    right: 40%;
  }
  
  .preview .preview-main .left-side .black-box-bottom {
    width: 60%;
    height: 10%;
    color: white;
    background-color: black;
    display: flex;
    position: absolute;
    top: 99%;
  }
  
  .preview .preview-main .left-side .black-box-bottom p {
    padding: 0;
    margin: 5px 0;
    text-align: center;
  }
  .preview .preview-main .left-side .black-box-bottom .one {
    width: 30%;
  }
  .preview .preview-main .left-side .black-box-bottom .two {
    width: 70%;
    text-align: left;
    font-size: 0.5rem;
  }
  .preview .preview-main .right-side {
    width: 35%;
    margin-left: 5%;
  }
  
  .preview .preview-main .right-side .right-inner p {
    position: relative;
    margin: 0;
    text-align: center;
    font-family: Helvetica Neue;
    color: #d8f42d;
    font-weight: 400;
  }
  
  .preview .preview-main .right-inner {
    width: 100%;
    height: 80%;
    background: #524c4c;
    position: relative;
  }
  
  .preview .preview-main .right-side .background {
    width: 90%;
    bottom: 25%;
    left: 5%;
    position: absolute;
  }
  
  .preview .preview-main .right-side .right-inner .inner .human {
    position: absolute;
    bottom: 28%;
    left: 8%;
    width: 80%;
  }
  .preview .preview-main .right-side .right-inner .inner .bottom {
    /* margin: 0; */
    position: absolute;
    top: 71%;
    width: 90%;
    left: 5%;
  }
  
  .download-button {
    border-radius: 5px;
    border: none;
    color: rgb(118, 115, 115);
    background-color: rgb(216, 244, 45);
    border: 1px solid;
    width: 80%;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    left: 10%;
    font-size: 3vw;
    top: 80%;
  }
/*PREVIEW SECTION ENDS*/

@media only screen and (max-width:750px){

    .main-header{
        display: flex;
        margin-top: 10px;
        justify-content:space-between;
        width: 100%;
        height: 40px;
        

    }
.menu {
    display: inline-block;
    width: 40px;
    height: 40x;
    outline: none;
    border: none;
    background: none;
    margin-top:-5px ;
    font-size: 22px;
    margin-left: auto;
    align-items: flex-end;

}

.close{
    display: block;
    position: absolute;
    top: 10px; 
    right:15px;
    font-size: 20px;
}

    .tags{
       position: fixed;
       box-shadow: 2px 2px 3px grey;
       background: #D8F401;
       height: 100vh;
       z-index: 999;
       width: 80vw;
       display: block;
       left: -100%;
       transition: all 0.5s ease-in;
    }

    .tags ul{
     
        display:flex;
        height: 45%;
        padding-top: 80px;
        justify-content: space-between;
        flex-direction: column;
        font-size: 18px;
    }



    .tags select{
        margin-top: 15%;
        font-size: 18px;
        margin-left:5%;
        border:none;
        background: red;
    }

    .bg-section{
        background-size: cover;
        height: 100vh;
    }

    .content-wrapper{
        width: 98%;
        margin-left: 1%;
    }

    #title1{
        display: inline-block;
        margin-top: 100px;
        font-size:30px;
    }

    .content-wrapper{
        width: 100%;
    }

    #title2{
        margin-top: 20px;
        font-size: 35px;
    }

    .input-wrapper{
        width: 96%;
    }

    .card-wrapper{
        margin-top: 30px;
    }

    .card{
        width: 46%;
        height: auto;
        margin-left: 2%;
    }

    .main{
        margin-top: 25px;
    }

    .more-btn{
        padding:10px 5px;
        width:140px;
        font-size: 15px;
    }




    footer{
        margin-top: 10px;
    }

    footer img{
        margin-top: 15px;
        height: 30px;
    }

}